<div class="p-5">
  <div class="d-flex justify-content-between texto-primario mb-3 title-y">
    <h2 class="fw-semibold">Project Versions : {{ name }}</h2>
        <button type="submit" class="btn btn-outline-danger" (click)="back()">
        Go back
      </button>
</div>

  <div class="d-flex mb-3 flex-gap-20">
      <fieldset class="me-2">
          <label class="fs-14px fw-semibold">Keyword</label>
          <app-input-search [(ngModel)]="term" />
      </fieldset>
      <fieldset class="d-flex align-items-end">
          <button class="boton primario relleno me-2" (click)="updateFilters()">
            Search
          </button>
          <button class="boton primario delineado" (click)="clearFilters()">
            Clean filters
          </button>
      </fieldset>
  </div>
  <!-- <div class="d-flex mb-3 justify-content-end me-5"> 
    <fieldset class="d-flex align-items-end me-2">
        <button class="boton btn btn-success  d-flex align-items-center" (click)="modalCreate()"><mat-icon class="iconCreate">add</mat-icon> New Project Version</button>
    </fieldset>
  </div> -->
  <div class="table-responsive mb-3">
      <table class="table list-items">
          <thead>
              <tr>
                <th>ID</th>
                <th>Version</th>
                  <th>Revised Date</th>
                  <th>Executive Summary</th>
                  <th>Scope Work</th>
                  <th>Trading Conditions</th>
                  <th>Comment Clarifications</th>
                  <th>Payment Terms</th>
                  <th>Quote Path</th>
                  <th>Quote Name</th>
                  <th>Conceptnet Draw</th>
                  <th colspan="4" class="text-center">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let version of versionProjects">
                  <td>{{ version.id }}</td>
                  <td>
                    <span *ngIf="!version.editing">{{ version.version }}</span>
                    <input *ngIf="version.editing" type="text" [(ngModel)]="version.version" class="form-control" />
                  </td>
                  <td>
                    <span *ngIf="!version.editing">{{ version.revisedDate }}</span>
                    <input *ngIf="version.editing" type="datetime-local" [(ngModel)]="version.revisedDate" class="form-control" />
                  </td>
                  <td>
                    <span *ngIf="!version.editing">{{ version.executiveSummary }}</span>
                    <input *ngIf="version.editing" type="text" [(ngModel)]="version.executiveSummary" class="form-control" />
                  </td>
                  <td>
                    <span *ngIf="!version.editing">{{ version.scopeWork }}</span>
                    <input *ngIf="version.editing" type="text" [(ngModel)]="version.scopeWork" class="form-control" />
                  </td>
                  <td>
                    <span *ngIf="!version.editing">{{ version.tradingConditions }}</span>
                    <input *ngIf="version.editing" type="text" [(ngModel)]="version.tradingConditions" class="form-control" />
                  </td>
                  <td>
                    <span *ngIf="!version.editing">{{ version.commentClarifications }}</span>
                    <input *ngIf="version.editing" type="text" [(ngModel)]="version.commentClarifications" class="form-control" />
                  </td>
                  <td>
                    <span *ngIf="!version.editing">{{ version.paymentTerms }}</span>
                    <input *ngIf="version.editing" type="text" [(ngModel)]="version.paymentTerms" class="form-control" />
                  </td>
                  <td>
                    <span *ngIf="!version.editing">{{ version.quotePath }}</span>
                    <input *ngIf="version.editing" type="text" [(ngModel)]="version.quotePath" class="form-control" />
                  </td>
                  <td>
                    <span *ngIf="!version.editing">{{ version.quoteName }}</span>
                    <input *ngIf="version.editing" type="text" [(ngModel)]="version.quoteName" class="form-control" />
                  </td>
                  <td>
                    <ng-select  *ngIf="!version.editing" [disabled]="true"  [(ngModel)]="version.conceptnetDrawId" class="form-select">
                      <ng-option *ngFor="let conceptDraw of conceptDraws" [value]="conceptDraw.id">{{conceptDraw.id}}</ng-option>
                    </ng-select>
                  <ng-select  *ngIf="version.editing" [disabled]="false" [(ngModel)]="version.conceptnetDrawId" class="form-select">
                    <ng-option *ngFor="let conceptDraw of conceptDraws" [value]="conceptDraw.id">{{conceptDraw.name}}</ng-option>
                  </ng-select>
                  </td>
                  <td width="10px">
                      <span *ngIf="!version.editing" class="cursor-pointer" (click)="editVersionProject(version)"><mat-icon class="iconEdit">edit</mat-icon> </span>
                      <span *ngIf="version.editing" class="cursor-pointer" (click)="updateVersion(version)"><mat-icon class="iconSave">save</mat-icon></span>
                  </td>
                  <td width="10px">
                    <span *ngIf="version.editing" class="cursor-pointer" (click)="closeUpdate(version)"><mat-icon class="iconClose">close</mat-icon></span>
                </td>
                  <td width="10px">
                    <span class="cursor-pointer" (click)="openGroups(version.id!)" >Items</span>
                </td>
                  <td width="10px">
                    <span class="cursor-pointer" (click)="cloneVersion(version.id!)">clone</span>
                </td>
                <td width="10px">
                  <span class="cursor-pointer" (click)="calcEstimate(version.id!)">Calc Estimate</span>
                </td>
              </tr>
              <tr>
                <td><input type="text"  [(ngModel)]="newProjectVersion.id" class="form-control" disabled /></td>
                <td><input type="text"  [(ngModel)]="newProjectVersion.version" class="form-control" [disabled]="!showBlankRow"/></td>
                <td><input type="datetime-local" [(ngModel)]="newProjectVersion.revisedDate"  class="form-control" [disabled]="!showBlankRow"/></td>
                <td><input type="text" [(ngModel)]="newProjectVersion.executiveSummary"  class="form-control" [disabled]="!showBlankRow"/></td>
                <td><input type="text" [(ngModel)]="newProjectVersion.scopeWork"  class="form-control" [disabled]="!showBlankRow"/></td>
                <td><input type="text" [(ngModel)]="newProjectVersion.tradingConditions"  class="form-control" [disabled]="!showBlankRow"/></td>
                <td><input type="text" [(ngModel)]="newProjectVersion.commentClarifications"  class="form-control" [disabled]="!showBlankRow"/></td>
                <td><input type="text" [(ngModel)]="newProjectVersion.paymentTerms"  class="form-control" [disabled]="!showBlankRow"/></td>
                <td><input type="text" [(ngModel)]="newProjectVersion.quotePath"  class="form-control" [disabled]="!showBlankRow"/></td>
                <td><input type="text" [(ngModel)]="newProjectVersion.quoteName"  class="form-control" [disabled]="!showBlankRow"/></td>
                <td>
                    <ng-select  [disabled]="!showBlankRow" [(ngModel)]="newProjectVersion.conceptnetDrawId" class="form-select">
                        <ng-option *ngFor="let conceptDraw of conceptDraws" [value]="conceptDraw.id">{{conceptDraw.name}}</ng-option>
                    </ng-select>
                </td>  
                <td width="10px">
                    <span *ngIf="showBlankRow" class="cursor-pointer" (click)="create()"><mat-icon class="iconSave">save</mat-icon></span>
                    <span *ngIf="!showBlankRow" class="cursor-pointer" (click)="showNew()"><mat-icon class="iconCreate">add</mat-icon></span>
                </td>
                <td width="10px">
                  <span *ngIf="showBlankRow" class="cursor-pointer" (click)="closeCreate()"><mat-icon class="iconClose">close</mat-icon></span>
              </td>
          </tr>
              <tr *ngIf="versionProjects?.length === 0">
                  <td colspan="6">No group project version were found with the established filters.</td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="d-flex justify-content-end">
      <ngb-pagination 
      [collectionSize]="this.pager.totalRecords ?? 0"
      [pageSize]="this.pager.limit"
      [page]="this.pager.page"
      [maxSize]="5"
      (pageChange)="this.pager.cambiarPagina($event)"
      >
          <ng-template ngbPaginationFirst>Prim.</ng-template>
          <ng-template ngbPaginationLast>Ult.</ng-template>
          <ng-template ngbPaginationPrevious>Ant.</ng-template>
          <ng-template ngbPaginationNext>Sig.</ng-template>
      </ngb-pagination>
  </div>
</div>
<app-create-version-modal #modalCreateVersion 
(createdVersion)="createdVersion()"
/>
<app-update-version-modal #modalUpdateVersion 
(updatedVersion)="updatedVersion()"
/>
<app-popup #popup />