<div class="p-5">
  <h2 class="texto-primario fw-semibold mb-3">Project Versions</h2>

  <div class="d-flex mb-3 flex-gap-20">
      <fieldset class="me-2">
          <label class="fs-14px fw-semibold">Keyword</label>
          <app-input-search [(ngModel)]="term" />
      </fieldset>
      <fieldset class="d-flex align-items-end">
          <button class="boton primario relleno me-2" (click)="updateFilters()">
            Search
          </button>
          <button class="boton primario delineado" (click)="clearFilters()">
            Clean filters
          </button>
      </fieldset>
  </div>
  <div class="d-flex mb-3 justify-content-end me-5"> 
    <fieldset class="d-flex align-items-end me-2">
        <button class="boton btn btn-success  d-flex align-items-center" (click)="modalCreate()"><mat-icon>add</mat-icon> New Version Project</button>
    </fieldset>
  </div>
  <div class="table-responsive mb-3">
      <table class="table list-items">
          <thead>
              <tr>
                <th>ID</th>
                <th>Version</th>
                  <th>Revised Date</th>
                  <th>Executive Summary</th>
                  <th>Scope Work</th>
                  <th>Trading Conditions</th>
                  <th>Comment Clarifications</th>
                  <th>Payment Terms</th>
                  <th>Quote Path</th>
                  <th>Quote Name</th>
                  <th>Conceptnet Draw</th>
                  <th colspan="3" class="text-center">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let version of versionProjects">
                  <td>{{ version.id }}</td>
                  <td>{{ version.version }}</td>
                  <td>{{ version.revisedDate }}</td>
                  <td>{{ version.executiveSummary }}</td>
                  <td>{{ version.scopeWork }}</td>
                  <td>{{ version.tradingConditions }}</td>
                  <td>{{ version.commentClarifications }}</td>
                  <td>{{ version.paymentTerms }}</td>
                  <td>{{ version.quotePath }}</td>
                  <td>{{ version.quoteName }}</td>
                  <td>{{ version.conceptnetDrawId }}</td>
                  <td width="10px">
                      <span class="cursor-pointer" (click)="modalUpdate(version)" ><mat-icon>edit</mat-icon> </span>
                  </td>
                  <td width="10px">
                    <span class="cursor-pointer" (click)="openGroups(version.id!)" >Group Items</span>
                </td>
                  <td width="10px">
                    <!-- <span class="cursor-pointer" (click)="cloneVersion(version.id!)">clone</span> -->
                </td>
              </tr>
              <tr *ngIf="versionProjects?.length === 0">
                  <td colspan="6">No group version Projects were found with the established filters.</td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="d-flex justify-content-end">
      <ngb-pagination 
      [collectionSize]="this.pager.totalRecords ?? 0"
      [pageSize]="this.pager.limit"
      [page]="this.pager.page"
      [maxSize]="5"
      (pageChange)="this.pager.cambiarPagina($event)"
      >
          <ng-template ngbPaginationFirst>Prim.</ng-template>
          <ng-template ngbPaginationLast>Ult.</ng-template>
          <ng-template ngbPaginationPrevious>Ant.</ng-template>
          <ng-template ngbPaginationNext>Sig.</ng-template>
      </ngb-pagination>
  </div>
</div>
<app-create-version-modal #modalCreateVersion 
(createdVersion)="createdVersion()"
/>
<app-update-version-modal #modalUpdateVersion 
(updatedVersion)="updatedVersion()"
/>
<app-popup #popup />