<div class="p-5">
  <div class="d-flex justify-content-between texto-primario mb-3 title-y">
    <h2 class="fw-semibold">Group Items : (project: {{ name }}, version: {{version}})</h2>
        <button type="submit" class="btn btn-outline-danger" (click)="back()">
        Go back
      </button>
</div>

  <form [formGroup]="formulario">     
     
      <div class="row mb-3">
          <div class="col-sm-12 col-md-3">
              <fieldset>
                  <label>Categories <span class="validacion">*</span></label>
                  <select formControlName="groupId" class="form-select">
                      <option value="" selected>Select a category</option>
                      <option *ngFor="let group of groupItems" [value]="group.id">{{ group.name }}</option>
                  </select>
                  <app-validacion
                  [validacion]="'required'"
                  [texto]="'The item group is required.'"
                  [control]="this.formulario.controls['groupId']"
                  />    
              </fieldset>
          </div>
      </div>

      <div class="d-flex justify-content-left">
          <button type="button" class="boton primario relleno" (click)="addGroup()">
            Add item group
          </button>
      </div>
  </form>
  <hr>

  <ul class="groupsItem">
    <li *ngFor="let groupIItemVersion of groupIItemVersions">
      <app-items-version 
      #itemsVersion
      (deleteGroupEmit)="deleteGroupEmit()"
      (createdIItemVersionModal)="createdIItemVersionModal()"
      (updateIItemVersionModal)="updateIItemVersionModal()"
      (deleteIItemVersionModal)="deleteIItemVersionModal()"
      [itemsGroup] = "groupIItemVersion['itemsGroup']"
      [projectVersionId] = "projectVersionId!"
      />
    </li>
  </ul>

  
</div>
<app-popup #popup />



