<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title fs-14px  fw-bolder">Edit user</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formulario">
      <div class="row mb-3">
        <label class="fw-semibold fs-16px mb-2">User data</label>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <fieldset>
            <label>Name <span class="validacion">*</span></label>
            <input formControlName="name" type="text" class="form-control" placeholder="name">
            <app-validacion [validacion]="'required'" [texto]="'The name is required.'"
              [control]="this.formulario.controls['name']" />
          </fieldset>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <fieldset>
            <label>Last name</label>
            <input formControlName="lastname" type="text" class="form-control" placeholder="Last name">
          </fieldset>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <fieldset>
            <label>Identification number <span class="validacion">*</span></label>
            <input formControlName="document" type="text" class="form-control"
              placeholder="Identification number">
            <app-validacion [validacion]="'required'" [texto]="'Identification number is required.'"
              [control]="this.formulario.controls['document']" />
          </fieldset>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <fieldset>
            <label>Birthdate <span class="validacion">*</span></label>
            <input formControlName="dateBirth" type="date" class="form-control"
              placeholder="Birthdate">
            <app-validacion [validacion]="'required'" [texto]="'Date of birth is required.'"
              [control]="this.formulario.controls['dateBirth']" />
          </fieldset>
        </div>
      </div>
      <div class="row mb-3">
        <label class="fw-semibold fs-16px mb-2">Contact information</label>
        <div class="col-sm-12 col-md-6">
          <fieldset>
            <label>Email <span class="validacion">*</span></label>
            <input formControlName="mail" type="text" class="form-control" placeholder="Email">
            <app-validacion [validacion]="'required'" [texto]="'Email is required.'"
              [control]="this.formulario.controls['mail']" />
              <app-validacion
                  [validacion]="'email'"
                  [texto]="'It is not a valid email.'"
                  [control]="this.formulario.controls['mail']"
                  />
          </fieldset>
        </div>
        <div class="col-sm-12 col-md-6">
          <fieldset>
            <label>Phone</label>
            <input formControlName="phone" type="text" class="form-control" placeholder="Ingresa el teléfono">
          </fieldset>
        </div>
      </div>
      <div class="row mb-5">
        <label class="fw-semibold fs-16px mb-2">Access information</label>
        <div class="col-sm-12 col-md-3">
          <fieldset>
            <label>User <span class="validacion">*</span></label>
            <input formControlName="user" type="text" class="form-control" placeholder="User">
            <app-validacion [validacion]="'required'" [texto]="'The user is required.'"
              [control]="this.formulario.controls['user']" />
          </fieldset>
        </div>
        <div class="col-sm-12 col-md-3">
          <fieldset>
            <label>Role <span class="validacion">*</span></label>
            <select formControlName="roleId" class="form-select">
              <option value="" selected>Select a role</option>
              <option *ngFor="let rol of roles" [value]="rol._id">{{ rol._name }}</option>
            </select>
            <app-validacion [validacion]="'required'" [texto]="'The role is required.'"
              [control]="this.formulario.controls['roleId']" />
          </fieldset>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex">
    <div class="d-flex justify-content-end">
      <button type="button" class="boton primario relleno" (click)="actualizar()">
        Update
      </button>
    </div>
  </div>
</ng-template>
<app-popup #popup></app-popup>