<div class="p-5">
  <h2 class="texto-primario fw-semibold mb-3">Projects</h2>

  <div class="d-flex mb-3 flex-gap-20">
      <fieldset class="me-2">
          <label class="fs-14px fw-semibold">Keyword</label>
          <app-input-search [(ngModel)]="term" />
      </fieldset>
      <fieldset class="d-flex align-items-end">
          <button class="boton primario relleno me-2" (click)="updateFilters()">
            Search
          </button>
          <button class="boton primario delineado" (click)="clearFilters()">
            Clean filters
          </button>
      </fieldset>
  </div>
  <div class="d-flex mb-3 justify-content-end me-5"> 
    <fieldset class="d-flex align-items-end me-2">
        <button class="boton btn btn-success  d-flex align-items-center" (click)="modalCreate()"><mat-icon class="iconCreate">add</mat-icon> New Project</button>
    </fieldset>
  </div>
  <div class="table-responsive mb-3">
      <table class="table list-items">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Subtitle</th>
                  <th>ClientId</th>
                  <th>ProjectStatusId</th>
                  <th>Basepath</th>
                  <th colspan="3" class="text-center" width="50px">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let project of projects">
                  <td>{{ project.id }}</td>
                  <td>{{ project.code }}</td>
                  <td>{{ project.name }}</td>
                  <td>{{ project.subtitle }}</td>
                  <td>{{ project.clientName }}</td>
                  <td>{{ project.projectStatus }}</td>
                  <td>{{ project.basepath }}</td>
                  <td width="10px">
                      <span class="cursor-pointer" (click)="modalUpdate(project)" ><mat-icon class="iconEdit">edit</mat-icon> </span>
                  </td>
                  <td width="10px">
                    <span class="cursor-pointer" (click)="openVersions(project.id!, project.name!)" >Versions</span>
                </td>
                  <td width="10px">
                    <span class="cursor-pointer" (click)="modalClone(project.id!, project.name!)">Clone</span>
                </td>
              </tr>
              <tr *ngIf="projects.length === 0">
                  <td colspan="6">No projects were found with the established filters.</td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="d-flex justify-content-end">
      <ngb-pagination 
      [collectionSize]="this.pager.totalRecords ?? 0"
      [pageSize]="this.pager.limit"
      [page]="this.pager.page"
      [maxSize]="5"
      (pageChange)="this.pager.cambiarPagina($event)"
      >
          <ng-template ngbPaginationFirst>Prim.</ng-template>
          <ng-template ngbPaginationLast>Ult.</ng-template>
          <ng-template ngbPaginationPrevious>Ant.</ng-template>
          <ng-template ngbPaginationNext>Sig.</ng-template>
      </ngb-pagination>
  </div>
</div>
<app-create-project-modal #modalCreateProject 
(createdProject)="createdProject()"
/>
<app-update-project-modal #modalUpdateProject 
(updatedProject)="updatedProject()"
/>
<app-clone-project #modalCloneProject
(clonedProject)="clonedProject()"/>

<app-popup #popup />