<div class="p-5">
  <h2 class="texto-primario fw-semibold mb-3">Projects</h2>

  <div class="d-flex mb-3 flex-gap-20">
      <fieldset class="me-2">
          <label class="fs-14px fw-semibold">Keyword</label>
          <app-input-search [(ngModel)]="term" />
      </fieldset>
      <fieldset class="d-flex align-items-end">
          <button class="boton primario relleno me-2" (click)="updateFilters()">
            Search
          </button>
          <button class="boton primario delineado" (click)="clearFilters()">
            Clean filters
          </button>
      </fieldset>
  </div>
  <!-- <div class="d-flex mb-3 justify-content-end me-5"> 
    <fieldset class="d-flex align-items-end me-2">
        <button class="boton btn btn-success  d-flex align-items-center" (click)="modalCreate()"><mat-icon class="iconCreate">add</mat-icon> New Project</button>
    </fieldset>
  </div> -->
  <div class="table-responsive mb-3">
      <table class="table list-items">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Subtitle</th>
                  <th>ClientId</th>
                  <th>Type Project</th>
                  <th>System Tecnology</th>
                  <th>ProjectStatusId</th>
                  <th>Concept Draw</th>
                  <th>Basepath</th>
                  <th colspan="3" class="text-center" width="50px">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let project of projects">
                  <td>{{ project.id }}</td>
                  <td>
                    <span *ngIf="!project.editing">{{ project.code }}</span>
                    <input *ngIf="project.editing" type="text" [(ngModel)]="project.code" class="form-control" />
                </td>
                  <td>
                    <span *ngIf="!project.editing">{{ project.name }}</span>
                    <input *ngIf="project.editing" type="text" [(ngModel)]="project.name" class="form-control" />
                </td>
                  <td>
                    <span *ngIf="!project.editing">{{ project.subtitle }}</span>
                    <input *ngIf="project.editing" type="text" [(ngModel)]="project.subtitle" class="form-control" />
                </td>
                  <td>
                    <ng-select  *ngIf="!project.editing" [disabled]="true"  [(ngModel)]="project.clientId" class="form-select">
                        <ng-option *ngFor="let clientId of clients" [value]="clientId.id">{{ clientId.names }}</ng-option>
                    </ng-select>
                    <ng-select  *ngIf="project.editing" [disabled]="false" [(ngModel)]="project.clientId" class="form-select">
                        <ng-option *ngFor="let clientId of clients" [value]="clientId.id">{{ clientId.names }}</ng-option>
                    </ng-select>
                </td>
                  <td>
                    <ng-select  *ngIf="!project.editing" [disabled]="true"  [(ngModel)]="project.typeProjectId" class="form-select">
                        <ng-option *ngFor="let typeProjectId of typeProjects" [value]="typeProjectId.id">{{ typeProjectId.name }}</ng-option>
                    </ng-select>
                    <ng-select  *ngIf="project.editing" [disabled]="false" [(ngModel)]="project.typeProjectId" class="form-select">
                        <ng-option *ngFor="let typeProjectId of typeProjects" [value]="typeProjectId.id">{{ typeProjectId.name }}</ng-option>
                    </ng-select>
                </td>
                  <td>
                    <ng-select  *ngIf="!project.editing" [disabled]="true" [(ngModel)]="project.typeApplicationId" class="form-select">
                        <ng-option *ngFor="let typeApplicationId of typeApplications" [value]="typeApplicationId.id">{{ typeApplicationId.name }}</ng-option>
                    </ng-select>
                    <ng-select  *ngIf="project.editing" [disabled]="false" [(ngModel)]="project.typeApplicationId" class="form-select">
                        <ng-option *ngFor="let typeApplicationId of typeApplications" [value]="typeApplicationId.id">{{ typeApplicationId.name }}</ng-option>
                    </ng-select>
                </td>
                  <td>
                    <ng-select *ngIf="!project.editing" [disabled]="true" [(ngModel)]="project.projectStatusId" class="form-select">
                        <ng-option *ngFor="let projectStatusId of projectStatus" [value]="projectStatusId.id">{{ projectStatusId.name }}</ng-option>
                    </ng-select>
                    <ng-select *ngIf="project.editing" [disabled]="false" [(ngModel)]="project.projectStatusId" class="form-select">
                        <ng-option *ngFor="let projectStatusId of projectStatus" [value]="projectStatusId.id">{{ projectStatusId.name }}</ng-option>
                    </ng-select>
                </td>
                  <td>
                    <ng-select  *ngIf="!project.editing"  [disabled]="true" [(ngModel)]="project.conceptnetDrawId" class="form-select">
                        <ng-option *ngFor="let conceptDraw of conceptDraws" [value]="conceptDraw.id">{{conceptDraw.name }}</ng-option>
                    </ng-select>
                    <ng-select  *ngIf="project.editing" [disabled]="false" [(ngModel)]="project.conceptnetDrawId" class="form-select">
                        <ng-option *ngFor="let conceptDraw of conceptDraws" [value]="conceptDraw.id">{{conceptDraw.name }}</ng-option>
                    </ng-select>
                </td>
                  <td>
                    <span *ngIf="!project.editing">{{ project.basepath }}</span>
                    <input *ngIf="project.editing" type="text" [(ngModel)]="project.basepath" class="form-control" />
                </td>
                  <td width="10px">
                    <span *ngIf="!project.editing" class="cursor-pointer" (click)="project.editing = true"><mat-icon class="iconEdit">edit</mat-icon></span>
                    <span *ngIf="project.editing" class="cursor-pointer" (click)="update(project); project.editing = false"><mat-icon class="iconSave">save</mat-icon></span>
                  </td>
                  <td width="10px">
                    <span class="cursor-pointer" (click)="openVersions(project.id!, project.name!)" >Versions</span>
                </td>
                  <td width="10px">
                    <span class="cursor-pointer" (click)="modalClone(project.id!, project.name!)">Clone</span>
                </td>

                <tr>
                    <td><input type="text"  [(ngModel)]="newProject.id" class="form-control" disabled /></td>
                    <td><input type="text"  [(ngModel)]="newProject.code" class="form-control" [disabled]="!showBlankRow"/></td>
                    <td><input type="text" [(ngModel)]="newProject.name"  class="form-control" [disabled]="!showBlankRow"/></td>
                    <td><input type="text" [(ngModel)]="newProject.subtitle"  class="form-control" [disabled]="!showBlankRow"/></td>
                    <td>
                        <ng-select  [disabled]="!showBlankRow" [(ngModel)]="newProject.clientId" class="form-select">
                            <ng-option *ngFor="let clientId of clients" [value]="clientId.id">{{ clientId.names }}</ng-option>
                        </ng-select>
                    </td>                
                    <td>
                        <ng-select  [disabled]="!showBlankRow" [(ngModel)]="newProject.typeProjectId" class="form-select">
                            <ng-option *ngFor="let typeProjectId of typeProjects" [value]="typeProjectId.id">{{ typeProjectId.name }}</ng-option>
                        </ng-select>
                    </td>  
                    <td>
                        <ng-select  [disabled]="!showBlankRow" [(ngModel)]="newProject.typeApplicationId" class="form-select">
                            <ng-option *ngFor="let typeApplicationId of typeApplications" [value]="typeApplicationId.id">{{ typeApplicationId.name }}</ng-option>
                        </ng-select>
                    </td>
                    <td>
                        <ng-select  [disabled]="!showBlankRow" [(ngModel)]="newProject.projectStatusId" class="form-select">
                            <ng-option *ngFor="let projectStatusId of projectStatus" [value]="projectStatusId.id">{{ projectStatusId.name }}</ng-option>
                        </ng-select>
                    </td>
                    <td>
                        <ng-select  [disabled]="!showBlankRow" [(ngModel)]="newProject.conceptnetDrawId" class="form-select">
                            <ng-option *ngFor="let conceptDraw of conceptDraws" [value]="conceptDraw.id">{{conceptDraw.name }}</ng-option>
                        </ng-select>
                    </td>  
                    <td><input type="text" [(ngModel)]="newProject.basepath" class="form-control" [disabled]="!showBlankRow"/></td>
                    <td width="10px">
                        <span *ngIf="showBlankRow" class="cursor-pointer" (click)="create()"><mat-icon class="iconSave">save</mat-icon></span>
                        <span *ngIf="!showBlankRow" class="cursor-pointer" (click)="showNew()"><mat-icon class="iconCreate">add</mat-icon></span>
                    </td>
              </tr>
              <tr *ngIf="projects.length === 0">
                  <td colspan="6">No projects were found with the established filters.</td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="d-flex justify-content-end">
      <ngb-pagination 
      [collectionSize]="this.pager.totalRecords ?? 0"
      [pageSize]="this.pager.limit"
      [page]="this.pager.page"
      [maxSize]="5"
      (pageChange)="this.pager.cambiarPagina($event)"
      >
          <ng-template ngbPaginationFirst>Prim.</ng-template>
          <ng-template ngbPaginationLast>Ult.</ng-template>
          <ng-template ngbPaginationPrevious>Ant.</ng-template>
          <ng-template ngbPaginationNext>Sig.</ng-template>
      </ngb-pagination>
  </div>
</div>
<app-create-project-modal #modalCreateProject 
(createdProject)="createdProject()"
/>
<app-update-project-modal #modalUpdateProject 
(updatedProject)="updatedProject()"
/>
<app-clone-project #modalCloneProject
(clonedProject)="clonedProject()"/>

<app-popup #popup />