<div class="p-5">
  <h2 class="texto-primario fw-semibold mb-3">Clients</h2>

  <div class="d-flex mb-3 flex-gap-20">
      <fieldset class="me-2">
          <label class="fs-14px fw-semibold">Keyword</label>
          <app-input-search [(ngModel)]="term" />
      </fieldset>
      <fieldset class="d-flex align-items-end">
          <button class="boton primario relleno me-2" (click)="updateFilters()">
            Search
          </button>
          <button class="boton primario delineado" (click)="clearFilters()">
            Clean filters
          </button>
      </fieldset>
  </div>
  <div class="d-flex mb-3 justify-content-end me-5"> 
    <fieldset class="d-flex align-items-end me-2">
        <button class="boton btn btn-success  d-flex align-items-center" (click)="modalCreate()"><mat-icon class="iconCreate">add</mat-icon> New Client</button>
    </fieldset>
  </div>
  <div class="table-responsive mb-3">
      <table class="table list-items">
          <thead>
              <tr>
                <th>ID</th>
                <th>Names</th>
                  <th>Surnames</th>
                  <th>Email</th>
                  <th colspan="2" class="text-center" width="50px">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let client of clients">
                  <td>{{ client.id }}</td>
                  <td>{{ client.names }}</td>
                  <td>{{ client.surnames }}</td>
                  <td>{{ client.email }}</td>
                  <td width="10px">
                      <span class="cursor-pointer" (click)="modalUpdate(client)" ><mat-icon class="iconEdit">edit</mat-icon> </span>
                  </td>
                <!--   <td width="10px">
                    <span class="cursor-pointer" (click)="deleteClient(client.id)"><mat-icon class="iconDelete">delete</mat-icon> </span>
                </td> -->
              </tr>
              <tr *ngIf="clients.length === 0">
                  <td colspan="6">No clients were found with the established filters.</td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="d-flex justify-content-end">
      <ngb-pagination 
      [collectionSize]="this.pager.totalRecords ?? 0"
      [pageSize]="this.pager.limit"
      [page]="this.pager.page"
      [maxSize]="5"
      (pageChange)="this.pager.cambiarPagina($event)"
      >
          <ng-template ngbPaginationFirst>Prim.</ng-template>
          <ng-template ngbPaginationLast>Ult.</ng-template>
          <ng-template ngbPaginationPrevious>Ant.</ng-template>
          <ng-template ngbPaginationNext>Sig.</ng-template>
      </ngb-pagination>
  </div>
</div>
<app-client-create-modal #modalCreateClient 
(createdClient)="createdClient()"
/>
<app-client-update-modal #modalUpdateClient 
(updatedClient)="updatedClient()"
/>
<app-popup #popup />