.groupsItem{
    padding: 0;
    margin: 0;
    width: 100%;
    list-style:none
  }
  
  .groupsItem:first-child{
    border-top: 1px solid #E6EFFD;
  }
  .groupsItem>li{
    border-bottom: 1px solid #E6EFFD;
  }

  tfoot tr td{
    background-color: #e3e0e0;
    font-weight: 800;
  }

  th {
    background-color: #a5bbf5d0; 
}

tr:nth-child(even) td{
    background-color: #f5f3f35c; 
}
.price{
  font-weight: 600;
}
.prices{
  background-color: #a5bbf5d0;
  padding: 20px;
}