<div class="p-5">
  
  <div class="d-flex justify-content-between texto-primario mb-3 title-y">
    <h2 class="fw-semibold">Group : {{nameGroup}}</h2>
        <button type="submit" class="btn btn-outline-danger" (click)="back()">
        Go back
      </button>
</div>


  <div class="d-flex mb-3 justify-content-end me-5"> 
    <fieldset class="d-flex align-items-end me-2">
        <button class="boton btn btn-secondary  d-flex align-items-center me-2" (click)="updateItems()"><mat-icon class="iconCreate">sync</mat-icon> Update item</button>
        <button class="boton btn btn-success  d-flex align-items-center" (click)="modalCreate()"><mat-icon class="iconCreate">add</mat-icon> Add item</button>
    </fieldset>
  </div>
  <div class="table-responsive mb-3">
      <table class="table list-items">
          <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                  <th>Number Unit</th>
                  <th>Price Unit</th>
                  <th>Tax</th>
                  <th>Price Total</th>
                  <th>Cost</th>
                  <th>Cost Total</th>
                  <th>Margin</th>
                  <th colspan="2" class="text-center" width="50px">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of items">
                  <td>{{ item.id }}</td>
                  <td>{{ item.itemName }}</td>
                  <td>{{ item.numberUnit }}</td>
                  <td>{{ item.priceUnit }}</td>
                  <td>{{ item.tax }}</td>
                  <td>{{ item.priceTotal }}</td>
                  <td>{{ item.cost }}</td>
                  <td>{{ item.costTotal }}</td>
                  <td>{{ item.margin }}</td>
                  <td width="10px">
                      <span class="cursor-pointer" (click)="modalUpdate(item.itemName, item)" ><mat-icon class="iconEdit">edit</mat-icon> </span>
                  </td>
                  <td width="10px">
                    <span class="cursor-pointer" (click)="deleteItem(item.id)"><mat-icon class="iconDelete">delete</mat-icon> </span>
                </td>
              </tr>
              <tr *ngIf="items?.length === 0">
                  <td colspan="6">No group items were found with the established filters.</td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="d-flex justify-content-end">
      <ngb-pagination 
      [collectionSize]="this.pager.totalRecords ?? 0"
      [pageSize]="this.pager.limit"
      [page]="this.pager.page"
      [maxSize]="5"
      (pageChange)="this.pager.cambiarPagina($event)"
      >
          <ng-template ngbPaginationFirst>Prim.</ng-template>
          <ng-template ngbPaginationLast>Ult.</ng-template>
          <ng-template ngbPaginationPrevious>Ant.</ng-template>
          <ng-template ngbPaginationNext>Sig.</ng-template>
      </ngb-pagination>
  </div>
</div>
<app-create-item-igroup-modal #modalCreateItem 
(createdIItem)="createdIItem()"
/>
<app-update-item-igroup-modal #modalUpdateItem 
(updatedIItem)="updatedIItem()"
/>
<app-popup #popup />