<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title fs-14px  fw-bolder">Update item</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formulario">
      <div class="row mb-3">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <fieldset>
            <label>Name <span class="validacion">*</span></label>
            <input formControlName="name" type="text" class="form-control" placeholder="name">
          </fieldset>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <fieldset>
            <label>Number Unit <span class="validacion">*</span></label>
            <input formControlName="numberUnit" type="text" class="form-control" placeholder="numberUnit">
            <app-validacion [validacion]="'required'" [texto]="'The code is required.'"
            [control]="this.formulario.controls['numberUnit']" />
          </fieldset>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <fieldset>
            <label>Price Unit <span class="validacion">*</span></label>
            <input formControlName="priceUnit" type="text" class="form-control" placeholder="priceUnit">
            <app-validacion [validacion]="'required'" [texto]="'The code is required.'"
            [control]="this.formulario.controls['priceUnit']" />
          </fieldset>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <fieldset>
            <label>Tax <span class="validacion">*</span></label>
            <input formControlName="tax" type="text" class="form-control" placeholder="tax">
            <app-validacion [validacion]="'required'" [texto]="'The code is required.'"
            [control]="this.formulario.controls['tax']" />
          </fieldset>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <fieldset>
            <label>Cost <span class="validacion">*</span></label>
            <input formControlName="cost" type="text" class="form-control" placeholder="cost">
            <app-validacion [validacion]="'required'" [texto]="'The code is required.'"
            [control]="this.formulario.controls['cost']" />
          </fieldset>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <fieldset>
            <label>Cost Total <span class="validacion">*</span></label>
            <input formControlName="costTotal" type="text" class="form-control" placeholder="costTotal">
            <app-validacion [validacion]="'required'" [texto]="'The code is required.'"
            [control]="this.formulario.controls['costTotal']" />
          </fieldset>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <fieldset>
            <label>Margin <span class="validacion">*</span></label>
            <input formControlName="margin" type="text" class="form-control" placeholder="margin">
            <app-validacion [validacion]="'required'" [texto]="'The code is required.'"
            [control]="this.formulario.controls['margin']" />
          </fieldset>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <fieldset>
            <label>Price Total <span class="validacion">*</span></label>
            <input formControlName="priceTotal" type="text" class="form-control" placeholder="priceTotal">
            <app-validacion [validacion]="'required'" [texto]="'The code is required.'"
            [control]="this.formulario.controls['priceTotal']" />
          </fieldset>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex">
    <div class="d-flex justify-content-end">
      <button type="button" class="boton primario relleno" (click)="update()">
        Update
      </button>
    </div>
  </div>
  
</ng-template>
<app-popup #popup />